<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidtraining">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTraining">
        <activity android:name=".pl.PlActivity">
<!--           Вроде как intent-filter "android.intent.action.MAIN" должен быть единственным для приложения.
               Он указывает, какой из Activity будет стартовым -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vk.VkActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recycleView.RecycleViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intentsApp.ActivityOne">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intentsApp.ActivityTwo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intentsApp2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.androidtraining.startAndroidCourse.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.androidtraining.startAndroidCourse.MainActivityAbc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.androidtraining.startAndroidCourse.MainActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  SimpleActivityResult      -->
        <activity android:name="com.example.androidtraining.startAndroidCourse.simpleActivityResult.SimpleActivityResult">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.androidtraining.startAndroidCourse.simpleActivityResult.NameActivity">
        </activity>

        <!--  DataStorageActivity      -->
        <activity android:name="com.example.androidtraining.startAndroidCourse.dataStoragePreferences.DataStorageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.androidtraining.startAndroidCourse.dataStorageSQLite.DataStorageSQLiteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

<!--  без этого в методе openWebPage() код intent.resolveActivity(getPackageManager()) возвращает null  -->
<!--  см. src\main\java\com\example\androidtraining\intentsApp2\MainActivity.java  -->
<!--  см. https://stackoverflow.com/questions/62535856/intent-resolveactivity-returns-null-in-api-30  -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
<!-- Следующий код для запуска камеры почему-то не работает -->
        <!--        <intent>-->
<!--            <action android:name="android.intent.action.STILL_IMAGE_CAMERA" />-->
<!--            <category android:name="android.intent.category.DEFAULT" />-->
<!--        </intent>-->
    </queries>

</manifest>